[submodule "extensions/PollResults"]
	path = extensions/PollResults
	url = ../../PollResults.git
[submodule "extensions/EmbeddedSearch"]
	path = extensions/EmbeddedSearch
	url = ../../EmbeddedSearch.git
[submodule "extensions/mediawiki-extensions-PageForms"]
	path = extensions/mediawiki-extensions-PageForms
	url = ../../mediawiki-extensions-PageForms.git
[submodule "extensions/mediawiki-extensions-AJAXPoll"]
	path = extensions/mediawiki-extensions-AJAXPoll
	url = ../../mediawiki-extensions-AJAXPoll.git
[submodule "extensions/upvote-extension"]
	path = extensions/Upvote
	url = ../../upvote-extension.git
[submodule "extensions/comment-extension"]
	path = extensions/comment-extension
	url = ../../comment-extension.git
