
elasticsearch-data/
images/
extensions/AJAXPoll
extensions/CirrusSearch/
extensions/Elastica/
extensions/ExternalData/
extensions/InputBox/
extensions/mediawiki-extensions-Cargo-3.1/
extensions/MyVariables/
extensions/PageForms/
extensions/
skins/